.cookie-bar{

  background: $pink;
  height: 40px;
  line-height: 40px;
  text-align: center;

  &__close{
    cursor: pointer;
    color: #fff;
  }


  &_closed{
    transform: translateY(-100%);
  }
}